<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
 https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="true">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CartItemsServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CartItemsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CartUpdateServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CartUpdateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CheckOutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CustomerDataInitializerServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CustomerDataInitializerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerDataInitializerServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CartUpdateServlet</servlet-name>
        <url-pattern>/cartUpdate</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>CartItemsServlet</servlet-name>
        <url-pattern>/cartItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validationServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CredentialValidatorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateUserInfo</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.UpdateInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigator</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.Navigator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CheckStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckStatusServlet</servlet-name>
        <url-pattern>/checkStatus</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Navigator</servlet-name>
        <url-pattern>/navigator</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateUserInfo</servlet-name>
        <url-pattern>/updateUserInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>validationServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.ProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.CategoryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>com.mydeal.presentation.controllers.ProductDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>

</web-app>